#mainBlock {
    width: 420px;
    background: #a9a9a9;
}
.header {
    background: #295b5b;
    padding: 20px 15px;
    height: 80px;
}
.header h1 {
    color: white;
    text-align: center;
    margin: 0;
}
.header .inputLine {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 10px 15px;
}
.header .inputLine *{
    height: 30px;
    font-size: 14px;
    border: none;
}
.header .inputLine button {
    color: gray;
    background: lightgray;
    width: 100px;
    height: 32px;
    outline: none;
}
.header .inputLine input{
    color: gray;
    width: 100%;
    outline: none;
}
.list {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}
.list li{
    font-size: 14px;
    padding: 5px 0 5px 30px;
    list-style-type: none;
    user-select: none;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.closeBtn {
    padding: 0 8px;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    display: inline-flex;
    align-items: center;
}
.closeBtn:hover {
    background: #be5a5a;
}
.list li.checked {
    background: #606060;
    text-decoration: line-through;
    color: white;
}
.list li.checked:hover {
    background: #606060;
}
.list li:hover {
    background: #949191;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 12px;
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
}


